<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tab</title>
</head>
<style type="text/css">
table{
	font-family: "仿宋","宋体";
	margin top: 20px;
	border-collapse: collapse;
	margin: 0 auto;
	width:650px;
	font-size:16px;
	}
td{
	line-height:150%;
	height:25px;
	text-align:center;
	font-size:16px;
	}
tr{
	border-bottom: 1px solid black;
	}
</style>
<body>
		<div id="print_div" style="width: 650px;margin: 0 auto;background:white;padding:20px;">
		<div style="width: 650px;height:30px;margin: 0 auto;background:white;padding:20px;">
		<img src="/static/GS1.png" style="float:left;margin-left:50px;" width="120" height="60">
		<p style="letter-spacing:1px;line-height:1%;font-size:30px;font-family:'楷体','宋体';"><strong>条码符合性确认改进建议单</strong></p>
		</div>
		<div style="width: 650px;margin: 0 auto;background:white;padding:20px;">
		<table border="1" bordercolor="black" cellspacing="0">
		<tr>
			<td style="width:120px;"><strong>企业名称</strong></td>
			<td style="width:330px;"></td>
			<td style="width:120px"><strong>确认编号</strong></td>
			<td style="width:180px;"></td>
		</tr>
		<tr style="border-top:1px #D3D3D3;">
			<td colspan="4" style="line-height:150%;height:20px;text-align:center;background:#D3D3D3;font-size:18px;"><strong>样品信息</strong></td>
		</tr>
		<tr>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>样品名称</strong></td>
			<td style="font-size:16px;;width:250px;"></td>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>条码类型</strong></td>
			<td style="font-size:16px;"></td>
		</tr>
		<tr>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>规格/型号</strong></td>
			<td style="font-size:16px;;"></td>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>印刷载体</strong></td>
			<td style="font-size:16px;"></td>
		</tr>
		<tr style="border-bottom: 1px black;">
			<td style="line-height:150%;height:25px;text-align:center;"><strong>供人识别字符</strong></td>
			<td></td>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>符号等级</strong></td>
			<td></td>
		</tr>
	</table>

	<table border="1" bordercolor="black" cellspacing="0">
		<tr style="border-top:1px #D3D3D3;">
			<td colspan="4" style="line-height:150%;height:20px;text-align:center;background:#D3D3D3;font-size:18px;"><strong>应用问题</strong></td>
		</tr>
		<tr>
			<th style="width:50px;">序号</th>
			<th style="width:200px;">问题描述</th>
			<th style="width:400px;">相关法规</th>
		</tr>
		<tr style="border-bottom: 1px solid black;">
			<td style="width:50px;"></td>
			<td style="width:200px;"></td>
			<td style="width:400px;"></td>
		</tr>
	</table>

	<table border="1" bordercolor="black" cellspacing="0">
		<tr style="border-top: 1px #D3D3D3;">
			<td colspan="4" style="line-height:150%;height:20px;text-align:center;background:#D3D3D3;font-size:18px;"><strong>质量问题</strong></td>
		</tr>
		<tr>
			<th style="width:50px;">序号</th>
			<th style="width:150px;">参数</th>
			<th style="width:225px;">常见原因</th>
			<th style="width:275px;">解决方案</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	</div>
	</div>
</body>