<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tab</title>
</head>
<style type="text/css">
table{
	font-family: "仿宋","宋体";
	margin top: 20px;
	border-collapse: collapse;
	margin: 0 auto;
	width:650px;
	font-size:16px;
	}
td{
	line-height:150%;
	height:25px;
	text-align:center;
	font-size:16px;
	padding:3px;
	padding-left:10px;
	padding-right:10px;
	}
th{
	line-height:150%;
	height:25px;
	text-align:center;
	font-size:16px;
	padding:3px;
	}
tr{
	border-bottom: 1px solid black;
	}
</style>
<body>
		<div id="print_div" style="width: 650px;margin: 0 auto;background:white;padding:20px;">
		<div style="width: 650px;height:30px;margin:0 auto;background:white;padding:20px;">
		<img src="tic.jpg" style="float:left;margin-left:100px;margin-top:10px;" width="35" height="35">
		<p style="letter-spacing:1px;line-height:1%;font-size:30px;font-family:'楷体','宋体';"><strong>&nbsp;条码符合性确认改进建议单</strong></p>
		</div>
		<div style="width: 650px;margin: 0 auto;background:white;padding:20px;">
		<table border="1" bordercolor="black" cellspacing="0">
		<tr>
			<td style="width:150px;"><strong>企业名称</strong></td>
			<td style="width:200px;">深圳市标准技术研究院</td>
			<td style="width:120px"><strong>确认编号</strong></td>
			<td style="width:200px;">201901032-2</td>
		</tr>
		<tr style="border-top:1px #D3D3D3;">
			<td colspan="4" style="line-height:150%;height:20px;text-align:center;background:#DEDEDE;font-size:16px;padding:0px;"><strong>样品信息</strong></td>
		</tr>
		<tr>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>样品名称</strong></td>
			<td style="font-size:16px;;width:230px;">条码印制品</td>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>条码类型</strong></td>
			<td style="font-size:16px;">EAN-13</td>
		</tr>
		<tr>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>规格/型号</strong></td>
			<td style="font-size:16px;;">/</td>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>承印载体</strong></td>
			<td style="font-size:16px;">不干胶</td>
		</tr>
		<tr style="border-bottom: 1px black;">
			<td style="line-height:150%;height:25px;text-align:center;"><strong>供人识别字符</strong></td>
			<td>6901234567892</td>
			<td style="line-height:150%;height:25px;text-align:center;"><strong>符号等级</strong></td>
			<td>0.0/06/660（F）</td>
		</tr>
	</table>

	<table border="1" bordercolor="black" cellspacing="0">
		<tr style="border-top:1px #D3D3D3;">
			<td colspan="4" style="line-height:150%;height:20px;text-align:center;background:#DEDEDE;font-size:16px;padding:0px;"><strong>质量问题</strong></td>
		</tr>
		<tr>
			<th style="width:50px;">序号</th>
			<th style="width:150px;">问题描述</th>
			<th style="width:400px;">解决方案</th>
		</tr>
		<tr style="border-bottom: 1px solid black;">
			<td>1</td>
			<td>空白区不足</td>
			<td style="text-align:left;" >加大空白区尺寸,左侧建议至少为6.6mm，右侧建议至少为4.2mm。</td>
		</tr>
	</table>

	<table border="1" bordercolor="black" cellspacing="0">
		<tr style="border-top: 1px #D3D3D3;">
			<td colspan="3" style="line-height:150%;height:20px;text-align:center;background:#DEDEDE;font-size:16px;padding:0px;"><strong>应用问题</strong></td>
		</tr>
		<tr>
			<th style="width:50px;">序号</th>
			<th style="width:150px;">问题描述</th>
			<th style="width:400px;">相关法规</th>
		</tr>
		<tr>
			<td>1</td>
			<td>多物一码</td>
			<td style="text-align:left;">GB 12904 4.2.1.2 不同的商品应分配不同的商品代码，基本特征不同的商品视为不同的商品。</td>
		</tr>
	</table>
	</div>
	</div>
</body>