<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tab</title>
</head>
<style type="text/css">
table{
	margin top: 20px;
	border-collapse: collapse;
	margin: 0 auto;
	width:650px;
	font-size:18px;
	}
tr{
	border-bottom: 1px solid black;
	}
</style>
<body>
	<div id="print_div" style="width: 650px;margin: 0 auto;background:white;padding:20px;">
	<table border="1" bordercolor="black" cellspacing="0" >
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">企业名称</td>
			<td style="font-size:16px;width:250px;"></td>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">证书编号</td>
			<td style="font-size:16px;;width:250px;"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">统一社会信用代码</td>
			<td style="font-size:16px;;width:250px;"></td>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">邮政编码</td>
			<td style="font-size:16px;;width:250px;"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">地&emsp;址</td>
			<td colspan="3"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">法&emsp;定<br>代表人</td>
			<td style="font-size:16px;;width:250px;"></td>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">联系方式</td>
			<td style="font-size:16px;;width:250px;"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">联系人</td>
			<td style="font-size:16px;;width:250px;"></td>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">联系方式</td>
			<td style="font-size:16px;;width:250px;"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">备&emsp;注</td>
			<td colspan="3"></td>
		</tr>
	</div>
</body>