<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tab</title>
</head>
<style type="text/css">
table{
	margin top: 20px;
	border-collapse: collapse;
	margin: 0 auto;
	width:800px;
	font-family: "宋体";
	}
tr{
	border-bottom: 1px solid black;
	}
</style>
<body>
<table border="1" bordercolor="black" cellspacing="0" >
	<tr>
		<th  colspan="9" style="line-height:200%;text-indent:0.5em;height:50px;font-size:26px;">条码符合性确认企业办理信息表（境内）
		</th>
	</tr>
	<tr>
		<td  colspan="9" style="line-height:200%;text-indent:0.5em;">条码符合性确认证书号：</td>
	</tr>
	<tr>
		<td  colspan="9" style="line-height:200%;text-indent:0.5em;">企业名称：</td>
	</tr>
	<tr>
		<td  colspan="9" style="line-height:200%;text-indent:0.5em;">企业地址：</td>
	</tr>
	<tr>
		<td  colspan="4" style="line-height:200%;text-indent:0.5em;">厂商识别代码：</td>
		<td  colspan="5" style="line-height:200%;text-indent:0.5em;">
		初次办理日期：
		</td>
	</tr>
	<tr>
		<td align="center" style="width:45px;font-size:14px;height:40px;">序号</td>
		<td align="center" style="width:150px;font-size:14px">商品条码目录表编号</td>
		<td align="center" style="font-size:14px;">本次条码委托数量（条）</td>
		<td align="center" style="font-size:14px;">办理条码数量（条）</td>
		<td align="center" style="font-size:14px;">确认成功条码数量（条）</td>
		<td align="center" style="font-size:14px;">剩余条码数量（条）</td>
		<td align="center" style="width:80px;font-size:14px;">办理日期</td>
		<td align="center" style="width:60px;font-size:14px;">经办人</td>
		<td align="center" style="width:45px;font-size:14px;">归档</td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td> 
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>      
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;height:25px;">&nbsp;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td  colspan="9" style="line-height:200%;text-indent:0.5em;height:60px;">备注：	</td>
	</tr>
</table>
</body>
</html>  
