<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<style type="text/css">
table, th, td{
			height:50px;
			text-align:center;
			}
</style>
</head>
<body bgcolor='#F5F5F5'>
<div>
<table cellspacing="0">
	<tr>
		<td style="width:150px;text-align:center;height:30px;font-size:18px;">样品名称：</td>
		<td style="width:400px;text-align:center;height:30px;font-size:17px;border-bottom:1px solid #000">五香花生 坚果炒货食品 标签</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="width:150px;text-align:center;height:30px;font-size:18px;">规格型号：</td>
		<td style="width:400px;text-align:center;height:30px;font-size:17px;border-bottom:1px solid #000">220克</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="width:150px;text-align:center;height:30px;font-size:18px;">委托单位：</td>
		<td style="width:400px;text-align:center;height:30px;font-size:17px;border-bottom:1px solid #000">深圳龙岗区民安富干货批发行</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="width:150px;text-align:center;height:30px;font-size:18px;">检验类别：</td>
		<td style="width:400px;text-align:center;height:30px;font-size:17px;border-bottom:1px solid #000">委托检验</td>
	</tr>
</table>
</body>
</html>