<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
<style type="text/css">

.menu2 ul { margin:0px; list-style:none; padding:0px;}
.menu2 ul li{ border:1px solid #CCCCCC;height:30px; line-height:30px; width:180px; text-align:center; background:#F3F3F3;}
.menu2 ul li a{ display:block; text-decoration:none ; font-size:15px ;  line-height:0px; width:180px;}
.menu2 ul li a:hover{ background:#CC0000; color:#FFFFFF }
</style>
</head>
<body>

<div class="menu2">
  <ul>
    <li><a href="#">导航菜单</a></li><li><a href="#">导航菜单</a></li><li><a href="#">导航比较长菜单文字多</a></li><li><a href="#">导航比较长菜单</a></li>
  </ul>
</div>
  <ul>
    <li><a href="#">导航菜单</a></li><li><a href="#">导航菜单</a></li><li><a href="#">导航比较长菜单文字多</a></li><li><a href="#">导航比较长菜单</a></li>
  </ul>
</body>
</html>