<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>tab</title>
</head>
<style type="text/css">
table{
	margin top: 20px;
	border-collapse: collapse;
	margin: 0 auto;
	width:650px;
	font-size:18px;
	}
tr{
	border-bottom: 1px solid black;
	}
</style>
<body>
	<div id="print_div" style="width: 650px;margin: 0 auto;background:white;padding:20px;">
		<p align="right" style="line-height:20%;font-family:Times;margin-right:100px;">NO:</p>
	<hr color = black size = 1>
		<h1 style="text-align:center;letter-spacing:10px;">使用境内注册商品条码</br>符合性确认登记表</h1>
		<p>（申办企业盖章）</p>
		<h2 style="text-align:center">企业填写部分</h2>
	<table border="1" bordercolor="black" cellspacing="0" >
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">企业名称</td>
			<td style="font-size:16px;width:250px;"  colspan="3"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">联&nbsp;系&nbsp;人</td>
			<td style="font-size:16px;;width:250px;"></td>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">联系方式</td>
			<td style="font-size:16px;;width:250px;"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">备&emsp;注</td>
			<td colspan="3"></td>
		</tr>
	</table>
<br><br>
<hr></hr>
<br>
		<h2 style="text-align:center">审核部门填写部分</h2>
	<table border="1" bordercolor="black" cellspacing="0" style="width: 650px;">
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">备案意见</td>
			<td colspan="3"></td>
		</tr>
		<tr>
			<td style="line-height:150%;width:100px;height:60px;text-align:center;">审&emsp;核</br>日&emsp;期</td>
			<td></td>
			<td style="line-height:150%;width:100px;height:80px;text-align:center;">审核部</br>门盖章</td>
			<td></td>
		</tr>
	</table>
		<p style="font-size:20px;text-align:center">中国物品编码中心深圳分中心</p>
	</div>
</body>